extends layout

block content
  nav(class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation")
    .container
      .navbar-brand
        a.navbar-item
          h1.title.is-1=data.title
        //- a(role="button" class="navbar-burger" aria-label="menu" aria-expanded="false")
        //-   span(aria-hidden="true")
        //-   span(aria-hidden="true")              
      .navbar-menu
        //- .navbar-start
        //-   a.navbar-item.title Home
        .navbar-end
          .navbar-item
            .buttons
              a(class="button is-primary") Sign Up
              a(class="button is-light") Login
  div
    .container
      - if (data.bites.length)
        - var bitesPerRow=4
        - var rows=data.bites.length / bitesPerRow
        - for (var irow=0; irow<rows; irow++) 
          .tile.is-ancestor
            .tile.is-parent
              - for (var icol=0; icol<bitesPerRow; icol++)
                - var idx=bitesPerRow*irow + icol
                //- h1.title.is-1=idx < data.bites.length
                //- h1.title.is-1=idx < data.bites.length
                - if (idx < data.bites.length)
                  - var bite = data.bites[idx]
                      .tile.is-child.is-3.box
                          include components/bite
                          +bite(bite.title, bite.date, bite.id, bite.mediakey)
      
          //- h1.title.is-1 
        //- form#bite-form
        //-   .field
        //-     .control
        //-       input.input(name='biteTitle' type='text' placeholder='Title')
        //-   .field
        //-     .control
        //-       input.input(name='biteDescription' type='text' placeholder='Short description')
        //-   button(class="button" type="button")#record Record
        //-   .field
        //-     .control
        //-       button.button.is-link Save
