mixin bite(title, date, id, mediakey)
  - if (title)
    h3.title.is-3=title
  - if (date)
    h4.title.is-4=date
  - if (id)
    button(class="button" type="button" onclick=`updateBite(${JSON.stringify(id)})`) Update
    button(class="button" type="button" onclick=`deleteBite(${JSON.stringify(id)})`) Delete
  - if (mediakey)
    div 
      button(class="button" type="button" toggle="0" onclick=`loadBite(event, ${JSON.stringify(mediakey)})`) Play
        //- span 
          //- img(src='@fortawesome/fontawesome-free/svgs/regular/play-circle.svg')
      audio()
  
